/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
margin: 20px;
}

article {
font-size: 30px;
}

h1 {
font-size: 38px;
}

h2 {
font-size: 35px;
}

img {
    max-width: 100%;
    margin-top: 15px
}

main {

}

section {

}

figure {
    margin: 0;
}

figcaption {
  font-size: .8em;
}

@media (min-width: 600px) {
  body {
    background-color: aquamarine;
    margin: 50px;
  }
  article {
    
    }
    
    h1 {
    
    }
    
    h2 {
   
    }
    
    img {

    }
    
    main {
    
    }
    
    section {
    display: flex;
flex-direction: row;
    flex-wrap: wrap;
    /* border: brown solid 1px; */
    width: 80%;
    margin: 0 60px 0 60px;   
    }
    
    figure {
       margin-left: 20px;
       padding: 0;
       width: 40%;

    }
    
    figcaption {
      
    }
}